{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <legend class="border-bottom mb-4">Update or Delete Post</legend>
        <h3>Post ID #: <a href="{{ url_for('post', post_id=post.id) }}">{{ post.id }}</a></h3>
        <h5 class="text-muted">{{ post.date_posted.strftime('Post Time: %Y.%m.%d %I:%M %p') }}</h5>
        <h3>Weight at time of post: {{ post.content }}</h3>
      </div>
      <div class="form-group">
          <a class="btn btn-secondary mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
          <button type="button" class="btn btn-warning m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          <a href="{{ url_for('user_posts', username=current_user.username) }}" class="btn btn-danger">Cancel</a>
      </div>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}